<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>

    <category label="30001">


    	<setting label="30002" type="text"   id="settings.user.name"  default="" enable="false" />
    	<setting label="30006" type="text"   id="settings.user.email"  default="" enable="false" />
        <setting label="30003" type="action" id="settings.user.logout" enable="!eq(-2,)" action="RunScript($CWD/scripts/logout.py)" option="close"/>
        
        <setting type="sep"/>

        <!-- We don't need this yet. Maybe later -->
        <!-- <setting label="30004" id="settings.photos.photosperpage"     type="slider"  default="200" range="30,10,500" option="int"/>-->
        <setting label="30005" id="settings.photos.size" type="enum" values="Original|Thumb (1024x768)" default="0" />
        <setting label="30020" id="settings.lazythumbs" type="bool"    default="false" />

        <setting type="sep"/>

        <setting label="30100" id="settings.debug" type="bool"    default="true" />

    </category>
</settings>

